* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #635e5e;
  background-color: #635e5e;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #00800d;
  border: 1px solid #00800d;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #0da91c;
  border-color: #0da91c;
}
